.footer
  a(href="https://github.com/Ben02/hexo-theme-Anatole") Theme remixed from Ben
  .by_farbox
    a(href="https://hexo.io/zh-cn/", target="_blank") Proudly published with Hexo&#65281;


script(src='https://cdnjs.cloudflare.com/ajax/libs/mermaid/11.5.0/mermaid.min.js')
script.
  if (window.mermaid) {
    mermaid.initialize({theme: 'forest'});
  }
