doctype
html(lang="zh-CN")
  head
    include head

  body
    // Google Tag Manager (noscript)
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-KFW2MHQF", height="0", width="0", style="display:none;visibility:hidden")
    include sidebar
    .main
      include nav

      block content

    script(src= url_for('js/jquery.js'))
    script(src= url_for('js/jquery-migrate-1.2.1.min.js'))
    script(src= url_for('js/jquery.appear.js'))
