.sidebar.animated.fadeInDown
  .logo-title
    .title
      img(src= url_for('images/logo.jpg'),style="width:127px;")
      div
        h3(title="")
          a(href="/")= config.title
        if config.subtitle
          .description
            p= config.subtitle

        ul.social-links
          if config.social.twitter
            li
              a(href="https://twitter.com/" + config.social.twitter)
                i.fa-brands.fa-x-twitter
          if config.social.instagram
            li
              a(href="http://instagram.com/" + config.social.instagram)
                i.fa-brands.fa-instagram
          if config.social.atom
            li
              a(href= url_for(config.social.atom))
                i.fa.fa-atom
          if config.social.rss
            li
              a(href= url_for(config.social.rss))
                i.fa.fa-rss
          if config.social.weibo
            li
              a(href="http://weibo.com/" + config.social.weibo)
                i.fa-brands.fa-weibo
          if config.social.facebook
            li
              a(href="http://facebook.com/" + config.social.facebook)
                i.fa-brands.fa-facebook
          if config.social.github
            li
              a(href="http://github.com/" + config.social.github)
                i.fa-brands.fa-github
  include footer
