.sidebar.animated.fadeInDown
  .logo-title
    .title
      img(src= url_for('images/logo.jpg'),style="width:127px;")
      div
        h3(title="")
          a(href="/")= config.title
        if theme.description
          .description
            p= theme.description

        ul.social-links
          if theme.twitter
            li
              a(href="https://twitter.com/" + theme.twitter)
                i.fa-brands.fa-x-twitter
          if theme.instagram
            li
              a(href="http://instagram.com/" + theme.instagram)
                i.fa-brands.fa-instagram
          if theme.atom
            li
              a(href= url_for(theme.atom))
                i.fa.fa-atom
          if theme.rss
            li
              a(href= url_for(theme.rss))
                i.fa.fa-rss
          if theme.weibo
            li
              a(href="http://weibo.com/" + theme.weibo)
                i.fa-brands.fa-weibo
          if theme.facebook
            li
              a(href="http://facebook.com/" + theme.facebook)
                i.fa-brands.fa-facebook
          if theme.github
            li
              a(href="http://github.com/" + theme.github)
                i.fa-brands.fa-github
  include footer
